In [15]:
import pyspark
import mysql.connector as mydbconnection
from mysql.connector import Error
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from credentials import mysql_username, mysql_password

# create the SparkSession
spark = SparkSession.builder.appName('branch-pyspark').getOrCreate()

In [16]:
# Load / Read data from json file:
df_branch = spark.read.json("json_source_data/cdw_sapp_branch.json")
df_branch.show()

+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|  1234565276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|  1234618993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|  1234985926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|  1234663064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|  1234849701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|  1234144890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|  1234678272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|  1234675219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|  1234145047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|  1234366354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|  1234867175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|  1234938460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|  1234462043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|  1234857525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|  1234546360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|  1234824455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|  1234484380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|  1234840138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|  1234362433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|  1234922492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
only showing top 20 rows

In [17]:
df_branch.columns
df_branch.printSchema()
df_branch.describe().show()
df_branch.show()

root
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_ZIP: long (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

+-------+-----------+-----------------+------------+--------------------+------------+-------------+------------------+--------------------+
|summary|BRANCH_CITY|      BRANCH_CODE| BRANCH_NAME|        BRANCH_PHONE|BRANCH_STATE|BRANCH_STREET|        BRANCH_ZIP|        LAST_UPDATED|
+-------+-----------+-----------------+------------+--------------------+------------+-------------+------------------+--------------------+
|  count|        115|              115|         115|                 115|         115|          115|               115|                 115|
|   mean|       null|76.67826086956522|        null|1.2345499259478261E9|        null|         null|  38975.2347826087|                null|
| stddev|       null|52.94113709535237|        null|  258751.74757815443|        null|         null|23938.156819564818|                null|
|    min|    Acworth|                1|Example Bank|          1234105725|          AL|  11th Street|              2155|2018-04-18T16:51:...|
|    max|   YubaCity|              197|Example Bank|          1234985926|          WI|  York Street|             98908|2018-04-18T16:51:...|
+-------+-----------+-----------------+------------+--------------------+------------+-------------+------------------+--------------------+

+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|  1234565276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|  1234618993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|  1234985926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|  1234663064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|  1234849701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|  1234144890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|  1234678272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|  1234675219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|  1234145047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|  1234366354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|  1234867175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|  1234938460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|  1234462043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|  1234857525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|  1234546360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|  1234824455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|  1234484380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|  1234840138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|  1234362433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|  1234922492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
only showing top 20 rows

In [18]:
df_branch.select(F.countDistinct("BRANCH_PHONE")).show()

+----------------------------+
|count(DISTINCT BRANCH_PHONE)|
+----------------------------+
|                         115|
+----------------------------+

In [19]:
# find zip codes with less than 5 values
df_branch.filter(F.length(df_branch["BRANCH_ZIP"]) < 5)\
         .select('BRANCH_CITY', 'BRANCH_STATE', 'BRANCH_ZIP')\
         .show()

+------------+------------+----------+
| BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP|
+------------+------------+----------+
|    Paterson|          NJ|      7501|
|Wethersfield|          CT|      6109|
|Hillsborough|          NJ|      8844|
|     Medford|          MA|      2155|
|    Rockaway|          NJ|      7866|
|  LongBranch|          NJ|      7740|
|   Irvington|          NJ|      7111|
|    NewHaven|          CT|      6511|
|      Quincy|          MA|      2169|
+------------+------------+----------+

In [20]:
# add a 0 infront of zip codes with 4 values
df_branch = df_branch.withColumn('BRANCH_ZIP',\
                    F.when((F.length(df_branch['BRANCH_ZIP']) == 4) &
                        df_branch['BRANCH_STATE'].isin(["NJ", "CT", "MA"]),
                    F.format_string("0%s",df_branch['BRANCH_ZIP']))\
                    .otherwise(df_branch["BRANCH_ZIP"]))

In [21]:
# verify there are no more zip codes with less than 5 values
df_branch.select('BRANCH_ZIP')\
    .where(F.length(df_branch["BRANCH_ZIP"]) < 4).show()

+----------+
|BRANCH_ZIP|
+----------+
+----------+

In [22]:
df_branch = df_branch.withColumn('BRANCH_PHONE',
            F.format_string("(%s)%s-%s", 
                            F.substring(df_branch['BRANCH_PHONE'], 1, 3), 
                            F.substring(df_branch['BRANCH_PHONE'], 4, 3), 
                            F.substring(df_branch['BRANCH_PHONE'], 7, 4)))

In [23]:
df_branch = df_branch.withColumn(
    'BRANCH_CITY',
    F.regexp_replace(df_branch['BRANCH_CITY'], "(?<=.)([A-Z])", ' $1')
)

In [24]:
df_branch.columns
df_branch = df_branch.select("BRANCH_CODE", "BRANCH_NAME", "BRANCH_STREET", "BRANCH_CITY", "BRANCH_STATE", "BRANCH_ZIP", "BRANCH_PHONE", "LAST_UPDATED")
df_branch.show()

+-----------+------------+-------------------+-------------------+------------+----------+-------------+--------------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|        BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|        LAST_UPDATED|
+-----------+------------+-------------------+-------------------+------------+----------+-------------+--------------------+
|          1|Example Bank|       Bridle Court|          Lakeville|          MN|     55044|(123)456-5276|2018-04-18T16:51:...|
|          2|Example Bank|  Washington Street|            Huntley|          IL|     60142|(123)461-8993|2018-04-18T16:51:...|
|          3|Example Bank|      Warren Street|South Richmond Hill|          NY|     11419|(123)498-5926|2018-04-18T16:51:...|
|          4|Example Bank|   Cleveland Street|         Middleburg|          FL|     32068|(123)466-3064|2018-04-18T16:51:...|
|          5|Example Bank|        14th Street|    King Of Prussia|          PA|     19406|(123)484-9701|2018-04-18T16:51:...|
|          7|Example Bank|   Jefferson Street|           Paterson|          NJ|     07501|(123)414-4890|2018-04-18T16:51:...|
|          8|Example Bank|           B Street|          Pittsford|          NY|     14534|(123)467-8272|2018-04-18T16:51:...|
|          9|Example Bank|    Jefferson Court|       Wethersfield|          CT|     06109|(123)467-5219|2018-04-18T16:51:...|
|         10|Example Bank|     Cambridge Road|      North Olmsted|          OH|     44070|(123)414-5047|2018-04-18T16:51:...|
|         11|Example Bank|    3rd Street West|       Hillsborough|          NJ|     08844|(123)436-6354|2018-04-18T16:51:...|
|         12|Example Bank|          Mill Road|    Madison Heights|          MI|     48071|(123)486-7175|2018-04-18T16:51:...|
|         14|Example Bank|  Washington Street|             Oviedo|          FL|     32765|(123)493-8460|2018-04-18T16:51:...|
|         15|Example Bank|    Chestnut Street|      Mechanicsburg|          PA|     17050|(123)446-2043|2018-04-18T16:51:...|
|         16|Example Bank|       Monroe Drive|          Plainview|          NY|     11803|(123)485-7525|2018-04-18T16:51:...|
|         17|Example Bank|    Railroad Street|            Paducah|          KY|     42001|(123)454-6360|2018-04-18T16:51:...|
|         18|Example Bank|Church Street South|       Harleysville|          PA|     19438|(123)482-4455|2018-04-18T16:51:...|
|         19|Example Bank|        King Street|      Silver Spring|          MD|     20901|(123)448-4380|2018-04-18T16:51:...|
|         20|Example Bank|   Canterbury Drive|         Burnsville|          MN|     55337|(123)484-0138|2018-04-18T16:51:...|
|         21|Example Bank|         2nd Avenue|             Tacoma|          WA|     98444|(123)436-2433|2018-04-18T16:51:...|
|         22|Example Bank| Front Street South|           Carlisle|          PA|     17013|(123)492-2492|2018-04-18T16:51:...|
+-----------+------------+-------------------+-------------------+------------+----------+-------------+--------------------+
only showing top 20 rows

In [25]:
df_branch.printSchema()
df_branch.describe().show()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_ZIP: string (nullable = true)
 |-- BRANCH_PHONE: string (nullable = false)
 |-- LAST_UPDATED: string (nullable = true)

+-------+-----------------+------------+-------------+-----------+------------+------------------+-------------+--------------------+
|summary|      BRANCH_CODE| BRANCH_NAME|BRANCH_STREET|BRANCH_CITY|BRANCH_STATE|        BRANCH_ZIP| BRANCH_PHONE|        LAST_UPDATED|
+-------+-----------------+------------+-------------+-----------+------------+------------------+-------------+--------------------+
|  count|              115|         115|          115|        115|         115|               115|          115|                 115|
|   mean|76.67826086956522|        null|         null|       null|        null|  38975.2347826087|         null|                null|
| stddev|52.94113709535237|        null|         null|       null|        null|23938.156819564818|         null|                null|
|    min|                1|Example Bank|  11th Street|    Acworth|          AL|             02155|(123)410-5725|2018-04-18T16:51:...|
|    max|              197|Example Bank|  York Street|  Yuba City|          WI|             98908|(123)498-5926|2018-04-18T16:51:...|
+-------+-----------------+------------+-------------+-----------+------------+------------------+-------------+--------------------+

In [26]:
# convert the PySpark DataFrame to a pandas DataFrame
df_branch = df_branch.toPandas()

In [27]:
# branch tabke DDL
branch_table = (
    "CREATE TABLE IF NOT EXISTS `cdw_sapp_branch` ("
    "BRANCH_CODE INT PRIMARY KEY," 
    "BRANCH_NAME VARCHAR(55)," 
    "BRANCH_STREET VARCHAR(55)," 
    "BRANCH_CITY VARCHAR(55)," 
    "BRANCH_STATE VARCHAR(55)," 
    "BRANCH_ZIP INT DEFAULT 999999," 
    "BRANCH_PHONE VARCHAR(15)," 
    "LAST_UPDATED TIMESTAMP"
    ")"
)

In [28]:
try:
    conn = mydbconnection.connect(database='creditcard_capstone', user=mysql_username, password=mysql_password)
    cursor = conn.cursor()

    # Create the table
    print('Creating cdw_sapp_branch table....')
    cursor.execute(branch_table)
    print("cdw_sapp_branch table is created....")

    # Prepare the data for batch insertion
    data_to_insert = [tuple(row) for _, row in df_branch.iterrows()]
    sql = "INSERT INTO creditcard_capstone.cdw_sapp_branch VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"

    # Batch insert the data
    cursor.executemany(sql, data_to_insert)
    print(f"All {len(data_to_insert)} Branch Records inserted")

    # Commit the transaction
    conn.commit()
    print("Branch data fully loaded")

except Error as e:
    print("Error while connecting to MySQL", e)

finally:
    # Ensure the connection is closed
    if conn and conn.is_connected():
        cursor.close()
        conn.close()
        print("MySQL connection is closed.")

Creating cdw_sapp_branch table....
cdw_sapp_branch table is created....
Error while connecting to MySQL 1062 (23000): Duplicate entry '1' for key 'cdw_sapp_branch.PRIMARY'
MySQL connection is closed.