In [1]:
import pyspark
import pyspark.sql.functions as F
import mysql.connector as mydbconnection
from mysql.connector import Error
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat_ws
from credentials import mysql_username, mysql_password

# create the SparkSession
spark = SparkSession.builder.appName('creditcard-pyspark').getOrCreate()

In [2]:
df_credit = spark.read.json("json_source_data/cdw_sapp_credit.json")
df_credit.show()

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|
|        164|4210653349028689|123459988| 28|    5|             6|       Education|             6.89|2018|
|        119|4210653349028689|123459988| 19|    5|             7|   Entertainment|            43.39|2018|
|         23|4210653349028689|123459988|  8|    8|             8|             Gas|            95.39|2018|
|        166|4210653349028689|123459988| 18|    3|             9|   Entertainment|            93.26|2018|
|         83|4210653349028689|123459988|  3|    9|            10|           Bills|           100.38|2018|
|         52|4210653349028689|123459988| 21|    8|            11|             Gas|            98.75|2018|
|         17|4210653349028689|123459988| 24|   12|            12|             Gas|            42.71|2018|
|         80|4210653349028689|123459988|  3|    4|            13|         Grocery|            40.24|2018|
|         50|4210653349028689|123459988| 15|    4|            14|           Bills|            17.81|2018|
|        123|4210653349028689|123459988| 17|    5|            15|           Bills|             29.0|2018|
|          9|4210653349028689|123459988|  6|    7|            16|            Test|            70.63|2018|
|          3|4210653349028689|123459988| 28|    9|            17|            Test|            27.04|2018|
|        135|4210653349028689|123459988|  4|    7|            18|   Entertainment|            88.75|2018|
|        103|4210653349028689|123459988| 24|    4|            19|            Test|            77.02|2018|
|         78|4210653349028689|123459988|  8|   10|            20|           Bills|            34.34|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 20 rows

In [3]:
df_credit.columns
df_credit.printSchema()
df_credit.describe().show()
df_credit.show()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- YEAR: long (nullable = true)

+-------+------------------+--------------------+-------------------+-----------------+------------------+------------------+----------------+------------------+--------------------+
|summary|       BRANCH_CODE|      CREDIT_CARD_NO|           CUST_SSN|              DAY|             MONTH|    TRANSACTION_ID|TRANSACTION_TYPE| TRANSACTION_VALUE|                YEAR|
+-------+------------------+--------------------+-------------------+-----------------+------------------+------------------+----------------+------------------+--------------------+
|  count|             46694|               46694|              46694|            46694|             46694|             46694|           46694|             46694|               46694|
|   mean| 75.00057823274939|4.210653353368964E15|1.234555184812824E8|14.50736711354778| 6.516875829871076|           23347.5|            null| 51.03938214759932|              2018.0|
| stddev|51.389074910957895|2.5604641248039957E7| 2561.2609103365367|8.066305022516385|3.4535079421269828|13479.541071564714|            null|28.783264046884938|1.19216201391582E-13|
|    min|                 1|    4210653310061055|          123451007|                1|                 1|                 1|           Bills|              1.01|                2018|
|    max|               192|    4210653399939240|          123459988|               28|                12|             46694|            Test|            100.99|                2018|
+-------+------------------+--------------------+-------------------+-----------------+------------------+------------------+----------------+------------------+--------------------+

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|
|        164|4210653349028689|123459988| 28|    5|             6|       Education|             6.89|2018|
|        119|4210653349028689|123459988| 19|    5|             7|   Entertainment|            43.39|2018|
|         23|4210653349028689|123459988|  8|    8|             8|             Gas|            95.39|2018|
|        166|4210653349028689|123459988| 18|    3|             9|   Entertainment|            93.26|2018|
|         83|4210653349028689|123459988|  3|    9|            10|           Bills|           100.38|2018|
|         52|4210653349028689|123459988| 21|    8|            11|             Gas|            98.75|2018|
|         17|4210653349028689|123459988| 24|   12|            12|             Gas|            42.71|2018|
|         80|4210653349028689|123459988|  3|    4|            13|         Grocery|            40.24|2018|
|         50|4210653349028689|123459988| 15|    4|            14|           Bills|            17.81|2018|
|        123|4210653349028689|123459988| 17|    5|            15|           Bills|             29.0|2018|
|          9|4210653349028689|123459988|  6|    7|            16|            Test|            70.63|2018|
|          3|4210653349028689|123459988| 28|    9|            17|            Test|            27.04|2018|
|        135|4210653349028689|123459988|  4|    7|            18|   Entertainment|            88.75|2018|
|        103|4210653349028689|123459988| 24|    4|            19|            Test|            77.02|2018|
|         78|4210653349028689|123459988|  8|   10|            20|           Bills|            34.34|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 20 rows

In [4]:
# combine month and day column into a new column name timeID
df_credit = df_credit.withColumn("TimeID", concat_ws('', df_credit['year'], 
    F.lpad(df_credit['MONTH'], 2, '0'), 
    F.lpad(df_credit['DAY'], 2, '0')))

In [5]:
# reorganize the columns as required.
df_credit = df_credit.select('CREDIT_CARD_NO', 'TIMEID', 'CUST_SSN', 'BRANCH_CODE', 'TRANSACTION_TYPE', 'TRANSACTION_VALUE', 'TRANSACTION_ID')
df_credit.show()

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|  CREDIT_CARD_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|20180528|123459988|        164|       Education|             6.89|             6|
|4210653349028689|20180519|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|20180808|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|20180318|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|20180903|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|20180821|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|20181224|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|20180403|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|20180415|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|20180517|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|20180706|123459988|          9|            Test|            70.63|            16|
|4210653349028689|20180928|123459988|          3|            Test|            27.04|            17|
|4210653349028689|20180704|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|20180424|123459988|        103|            Test|            77.02|            19|
|4210653349028689|20181008|123459988|         78|           Bills|            34.34|            20|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

In [6]:
df_credit = df_credit.withColumnRenamed("CREDIT_CARD_NO", "CUST_CC_NO")
df_credit.show()

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|      CUST_CC_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|20180528|123459988|        164|       Education|             6.89|             6|
|4210653349028689|20180519|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|20180808|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|20180318|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|20180903|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|20180821|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|20181224|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|20180403|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|20180415|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|20180517|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|20180706|123459988|          9|            Test|            70.63|            16|
|4210653349028689|20180928|123459988|          3|            Test|            27.04|            17|
|4210653349028689|20180704|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|20180424|123459988|        103|            Test|            77.02|            19|
|4210653349028689|20181008|123459988|         78|           Bills|            34.34|            20|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

In [7]:
# convert the PySpark DataFrame to a pandas DataFrame
df_credit = df_credit.toPandas()

In [8]:
# credit_card table DDL
creditcard_table = (
    "CREATE TABLE IF NOT EXISTS `cdw_sapp_credit_card` ("
    "`CUST_CC_NO` VARCHAR(16) NOT NULL,"
    "`TIMEID` VARCHAR(8) NOT NULL,"  
    "`CUST_SSN` VARCHAR(9) NOT NULL,"  
    "`BRANCH_CODE` INT NOT NULL,"
    "`TRANSACTION_TYPE` VARCHAR(50) NOT NULL,"
    "`TRANSACTION_VALUE` DOUBLE NOT NULL,"
    "`TRANSACTION_ID` INT NOT NULL PRIMARY KEY,"  
    "FOREIGN KEY (`BRANCH_CODE`) REFERENCES `cdw_sapp_branch`(`BRANCH_CODE`)" 
    ")"
)

In [9]:
try:
    conn = mydbconnection.connect(database='creditcard_capstone', user=mysql_username, password=mysql_password)
    cursor = conn.cursor()

    # Create the table
    print('Creating cdw_sapp_credit_card table....')
    cursor.execute(creditcard_table)
    print("cdw_sapp_credit_card table is created....")

    # Prepare the data for batch insertion
    data_to_insert = [tuple(row) for _, row in df_credit.iterrows()]
    sql = "INSERT INTO creditcard_capstone.cdw_sapp_credit_card VALUES (%s,%s,%s,%s,%s,%s,%s)"

    # Batch insert the data
    cursor.executemany(sql, data_to_insert)
    print(f"All {len(data_to_insert)} Creditcard Records inserted")

    # Commit the transaction
    conn.commit()
    print("Creditcard data fully loaded")

except Error as e:
    print("Error while connecting to MySQL", e)

finally:
    # Ensure the connection is closed
    if conn and conn.is_connected():
        cursor.close()
        conn.close()
        print("MySQL connection is closed.")

Creating cdw_sapp_credit_card table....
cdw_sapp_credit_card table is created....
All 46694 Creditcard Records inserted
Creditcard data fully loaded
MySQL connection is closed.