In [25]:
import pyspark
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.functions import length
from pyspark.sql.functions import concat, lit
from pyspark.sql.functions import substring, upper, col
from pyspark.sql.functions import initcap
from pyspark.sql.functions import lower
import random
from credentials import mysql_username, mysql_password

# create the SparkSession
spark = SparkSession.builder.appName('customer-pyspark').getOrCreate()

In [52]:
df_customer = spark.read.json("json_source_data/cdw_sapp_customer.json")
df_customer.show()

+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|APT_NO|  CREDIT_CARD_NO|   CUST_CITY| CUST_COUNTRY|          CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|   656|4210653310061055|     Natchez|United States| AHooper@example.com|   1237818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         Wm|123456100|Main Street North|
|   829|4210653310102868|Wethersfield|United States| EHolman@example.com|   1238933|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    Brendan|123453023|    Redwood Drive|
|   683|4210653310116272|     Huntley|United States| WDunham@example.com|   1243018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   Ezequiel|123454487| 12th Street East|
|   253|4210653310195948|   NewBerlin|United States|  EHardy@example.com|   1243215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      Trina|123459758|Country Club Road|
|   301|4210653310356919|      ElPaso|United States|  WAyers@example.com|   1242074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        May|123454431|   Madison Street|
|     3|4210653310395982|NorthOlmsted|United States|BWoodard@example.com|   1242570|        OH|   44070|      Beau|  Woodard|2018-04-21T12:49:...|    Ambrose|123454202|   Colonial Drive|
|    84|4210653310400536|      Vienna|United States|   SKemp@example.com|   1239685|        VA|   22180|    Sheila|     Kemp|2018-04-21T12:49:...|      Larry|123451799|   Belmont Avenue|
|   728|4210653310459911|      Duarte|United States| WHurley@example.com|   1238213|        CA|   91010|     Wendy|   Hurley|2018-04-21T12:49:...|        Ora|123453875|     Oxford Court|
|    81|4210653310773972|      Owosso|United States|AGilmore@example.com|   1240689|        MI|   48867|      Alec|  Gilmore|2018-04-21T12:49:...|     Tracie|123457511|    Forest Street|
|   561|4210653310794854|        Zion|United States|    BLau@example.com|   1235222|        IL|   60099|    Barbra|      Lau|2018-04-21T12:49:...|    Mitchel|123457464|     Court Street|
|   622|4210653310817373|  Youngstown|United States|EThomson@example.com|   1241363|        OH|   44512|   Edmundo|  Thomson|2018-04-21T12:49:...|      Denny|123457639|    Cypress Court|
|   924|4210653310844617| Summerville|United States| ETruong@example.com|   1236228|        SC|   29483|      Elsa|   Truong|2018-04-21T12:49:...|   Isabelle|123453242|  8th Street West|
|   611|4210653311015303|      ElPaso|United States|HMckinney@example...|   1238165|        TX|   79930|     Homer| Mckinney|2018-04-21T12:49:...|      Henry|123454339|      East Avenue|
|   680|4210653311215039|      Fenton|United States|   RKidd@example.com|   1234730|        MI|   48430|      Rita|     Kidd|2018-04-21T12:49:...|     Rickey|123454537|         Route 44|
|    71|4210653311229354|  Grandville|United States|ABallard@example.com|   1242113|        MI|   49418|    Amalia|  Ballard|2018-04-21T12:49:...|  Heriberto|123452373|    Warren Street|
|   195|4210653311652836|    YubaCity|United States| PThomas@example.com|   1239888|        CA|   95993|     Patty|   Thomas|2018-04-21T12:49:...|   Angelita|123455343|     Jones Street|
|   500|4210653311707126|   CapeCoral|United States| JMorrow@example.com|   1240158|        FL|   33904|  Josefina|   Morrow|2018-04-21T12:49:...|   Dorothea|123451533|       New Street|
|   989|4210653311730764|  Brookfield|United States|NAndrews@example.com|   1241408|        WI|   53045|    Nelson|  Andrews|2018-04-21T12:49:...|  Jefferson|123459278|  Division Street|
|   810|4210653311898082|    Richmond|United States|MSchneider@exampl...|   1238390|        VA|   23223|    Miquel|Schneider|2018-04-21T12:49:...|     Maximo|123456915|     Maple Street|
|   649|4210653312021765| WestChester|United States|PTidwell@example.com|   1235067|        PA|   19380|    Parker|  Tidwell|2018-04-21T12:49:...|    Arnulfo|123453807|       Eagle Road|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
only showing top 20 rows

In [48]:
df_customer.columns
df_customer.printSchema()
df_customer.describe().show()

root
 |-- SSN: long (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- CUST_PHONE: string (nullable = false)
 |-- CUST_EMAIL: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

+-------+--------------------+----------+-----------+---------+--------------------+-------------------+---------+----------+-------------+------------------+-------------+--------------------+--------------------+
|summary|                 SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|      CREDIT_CARD_NO|FULL_STREET_ADDRESS|CUST_CITY|CUST_STATE| CUST_COUNTRY|          CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|
+-------+--------------------+----------+-----------+---------+--------------------+-------------------+---------+----------+-------------+------------------+-------------+--------------------+--------------------+
|  count|                 952|       952|        952|      952|                 952|                952|      952|       952|          952|               952|          952|                 952|                 952|
|   mean|1.2345552588130252E8|      null|       null|     null|4.210653353718597...|               null|     null|      null|         null|36312.616596638654|         null|                null|                null|
| stddev|  2561.1858044909427|      null|       null|     null| 2.576300828101659E7|               null|     null|      null|         null| 23945.49431677531|         null|                null|                null|
|    min|           123451007|      Abby|       abby|   Abbott|    4210653310061055|    1, Circle Drive|  Acworth|        AL|United States|             01810|(212)123-5320|AAguilar@example.com|2018-04-21T12:49:...|
|    max|           123459988|     Zelma|    zachary|   Zapata|    4210653399939240|    998, Shady Lane|     Zion|        WI|United States|             98908|(721)124-3335|ZStratton@example...|2018-04-21T12:49:...|
+-------+--------------------+----------+-----------+---------+--------------------+-------------------+---------+----------+-------------+------------------+-------------+--------------------+--------------------+

In [28]:
df_customer = df_customer.select('SSN', 'FIRST_NAME', 'MIDDLE_NAME', 'LAST_NAME',  \
            'CREDIT_CARD_NO', 'APT_NO', 'STREET_NAME', 'CUST_CITY', 'CUST_STATE',  \
            'CUST_COUNTRY', 'CUST_ZIP', 'CUST_PHONE', 'CUST_EMAIL', 'LAST_UPDATED')

df_customer.show()

+---------+----------+-----------+---------+----------------+------+-----------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO|APT_NO|      STREET_NAME|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+------+-----------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
|123456100|      Alec|         Wm|   Hooper|4210653310061055|   656|Main Street North|     Natchez|        MS|United States|   39120|   1237818| AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    Brendan|   Holman|4210653310102868|   829|    Redwood Drive|Wethersfield|        CT|United States|   06109|   1238933| EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   Ezequiel|   Dunham|4210653310116272|   683| 12th Street East|     Huntley|        IL|United States|   60142|   1243018| WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      Trina|    Hardy|4210653310195948|   253|Country Club Road|   NewBerlin|        WI|United States|   53151|   1243215|  EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        May|    Ayers|4210653310356919|   301|   Madison Street|      ElPaso|        TX|United States|   79930|   1242074|  WAyers@example.com|2018-04-21T12:49:...|
|123454202|      Beau|    Ambrose|  Woodard|4210653310395982|     3|   Colonial Drive|NorthOlmsted|        OH|United States|   44070|   1242570|BWoodard@example.com|2018-04-21T12:49:...|
|123451799|    Sheila|      Larry|     Kemp|4210653310400536|    84|   Belmont Avenue|      Vienna|        VA|United States|   22180|   1239685|   SKemp@example.com|2018-04-21T12:49:...|
|123453875|     Wendy|        Ora|   Hurley|4210653310459911|   728|     Oxford Court|      Duarte|        CA|United States|   91010|   1238213| WHurley@example.com|2018-04-21T12:49:...|
|123457511|      Alec|     Tracie|  Gilmore|4210653310773972|    81|    Forest Street|      Owosso|        MI|United States|   48867|   1240689|AGilmore@example.com|2018-04-21T12:49:...|
|123457464|    Barbra|    Mitchel|      Lau|4210653310794854|   561|     Court Street|        Zion|        IL|United States|   60099|   1235222|    BLau@example.com|2018-04-21T12:49:...|
|123457639|   Edmundo|      Denny|  Thomson|4210653310817373|   622|    Cypress Court|  Youngstown|        OH|United States|   44512|   1241363|EThomson@example.com|2018-04-21T12:49:...|
|123453242|      Elsa|   Isabelle|   Truong|4210653310844617|   924|  8th Street West| Summerville|        SC|United States|   29483|   1236228| ETruong@example.com|2018-04-21T12:49:...|
|123454339|     Homer|      Henry| Mckinney|4210653311015303|   611|      East Avenue|      ElPaso|        TX|United States|   79930|   1238165|HMckinney@example...|2018-04-21T12:49:...|
|123454537|      Rita|     Rickey|     Kidd|4210653311215039|   680|         Route 44|      Fenton|        MI|United States|   48430|   1234730|   RKidd@example.com|2018-04-21T12:49:...|
|123452373|    Amalia|  Heriberto|  Ballard|4210653311229354|    71|    Warren Street|  Grandville|        MI|United States|   49418|   1242113|ABallard@example.com|2018-04-21T12:49:...|
|123455343|     Patty|   Angelita|   Thomas|4210653311652836|   195|     Jones Street|    YubaCity|        CA|United States|   95993|   1239888| PThomas@example.com|2018-04-21T12:49:...|
|123451533|  Josefina|   Dorothea|   Morrow|4210653311707126|   500|       New Street|   CapeCoral|        FL|United States|   33904|   1240158| JMorrow@example.com|2018-04-21T12:49:...|
|123459278|    Nelson|  Jefferson|  Andrews|4210653311730764|   989|  Division Street|  Brookfield|        WI|United States|   53045|   1241408|NAndrews@example.com|2018-04-21T12:49:...|
|123456915|    Miquel|     Maximo|Schneider|4210653311898082|   810|     Maple Street|    Richmond|        VA|United States|   23223|   1238390|MSchneider@exampl...|2018-04-21T12:49:...|
|123453807|    Parker|    Arnulfo|  Tidwell|4210653312021765|   649|       Eagle Road| WestChester|        PA|United States|   19380|   1235067|PTidwell@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+------+-----------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
only showing top 20 rows

In [29]:
# separate city names with a space.
df_customer = df_customer.withColumn(
    'CUST_CITY',
    F.regexp_replace(df_customer['CUST_CITY'], "(?<=.)([A-Z])", ' $1')
)

df_customer.select('CUST_CITY').show()

+-------------+
|    CUST_CITY|
+-------------+
|      Natchez|
| Wethersfield|
|      Huntley|
|   New Berlin|
|      El Paso|
|North Olmsted|
|       Vienna|
|       Duarte|
|       Owosso|
|         Zion|
|   Youngstown|
|  Summerville|
|      El Paso|
|       Fenton|
|   Grandville|
|    Yuba City|
|   Cape Coral|
|   Brookfield|
|     Richmond|
| West Chester|
+-------------+
only showing top 20 rows

In [30]:
df_customer.select(F.countDistinct("CREDIT_CARD_NO")).show()
df_customer.select(F.countDistinct("SSN")).show()
df_customer.select(F.countDistinct("CUST_PHONE")).show()
df_customer.select(F.countDistinct("CUST_EMAIL")).show()

+------------------------------+
|count(DISTINCT CREDIT_CARD_NO)|
+------------------------------+
|                           952|
+------------------------------+

+-------------------+
|count(DISTINCT SSN)|
+-------------------+
|                952|
+-------------------+

+--------------------------+
|count(DISTINCT CUST_PHONE)|
+--------------------------+
|                       901|
+--------------------------+

+--------------------------+
|count(DISTINCT CUST_EMAIL)|
+--------------------------+
|                       928|
+--------------------------+

In [31]:
df_customer.select('STREET_NAME','APT_NO').show(10)

+-----------------+------+
|      STREET_NAME|APT_NO|
+-----------------+------+
|Main Street North|   656|
|    Redwood Drive|   829|
| 12th Street East|   683|
|Country Club Road|   253|
|   Madison Street|   301|
|   Colonial Drive|     3|
|   Belmont Avenue|    84|
|     Oxford Court|   728|
|    Forest Street|    81|
|     Court Street|   561|
+-----------------+------+
only showing top 10 rows

In [32]:
df_customer = df_customer.withColumn("FULL_STREET_ADDRESS", concat(df_customer["APT_NO"], lit(", "), df_customer["STREET_NAME"]))
df_customer.show()

+---------+----------+-----------+---------+----------------+------+-----------------+-------------+----------+-------------+--------+----------+--------------------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO|APT_NO|      STREET_NAME|    CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED| FULL_STREET_ADDRESS|
+---------+----------+-----------+---------+----------------+------+-----------------+-------------+----------+-------------+--------+----------+--------------------+--------------------+--------------------+
|123456100|      Alec|         Wm|   Hooper|4210653310061055|   656|Main Street North|      Natchez|        MS|United States|   39120|   1237818| AHooper@example.com|2018-04-21T12:49:...|656, Main Street ...|
|123453023|      Etta|    Brendan|   Holman|4210653310102868|   829|    Redwood Drive| Wethersfield|        CT|United States|   06109|   1238933| EHolman@example.com|2018-04-21T12:49:...|  829, Redwood Drive|
|123454487|    Wilber|   Ezequiel|   Dunham|4210653310116272|   683| 12th Street East|      Huntley|        IL|United States|   60142|   1243018| WDunham@example.com|2018-04-21T12:49:...|683, 12th Street ...|
|123459758|   Eugenio|      Trina|    Hardy|4210653310195948|   253|Country Club Road|   New Berlin|        WI|United States|   53151|   1243215|  EHardy@example.com|2018-04-21T12:49:...|253, Country Club...|
|123454431|   Wilfred|        May|    Ayers|4210653310356919|   301|   Madison Street|      El Paso|        TX|United States|   79930|   1242074|  WAyers@example.com|2018-04-21T12:49:...| 301, Madison Street|
|123454202|      Beau|    Ambrose|  Woodard|4210653310395982|     3|   Colonial Drive|North Olmsted|        OH|United States|   44070|   1242570|BWoodard@example.com|2018-04-21T12:49:...|   3, Colonial Drive|
|123451799|    Sheila|      Larry|     Kemp|4210653310400536|    84|   Belmont Avenue|       Vienna|        VA|United States|   22180|   1239685|   SKemp@example.com|2018-04-21T12:49:...|  84, Belmont Avenue|
|123453875|     Wendy|        Ora|   Hurley|4210653310459911|   728|     Oxford Court|       Duarte|        CA|United States|   91010|   1238213| WHurley@example.com|2018-04-21T12:49:...|   728, Oxford Court|
|123457511|      Alec|     Tracie|  Gilmore|4210653310773972|    81|    Forest Street|       Owosso|        MI|United States|   48867|   1240689|AGilmore@example.com|2018-04-21T12:49:...|   81, Forest Street|
|123457464|    Barbra|    Mitchel|      Lau|4210653310794854|   561|     Court Street|         Zion|        IL|United States|   60099|   1235222|    BLau@example.com|2018-04-21T12:49:...|   561, Court Street|
|123457639|   Edmundo|      Denny|  Thomson|4210653310817373|   622|    Cypress Court|   Youngstown|        OH|United States|   44512|   1241363|EThomson@example.com|2018-04-21T12:49:...|  622, Cypress Court|
|123453242|      Elsa|   Isabelle|   Truong|4210653310844617|   924|  8th Street West|  Summerville|        SC|United States|   29483|   1236228| ETruong@example.com|2018-04-21T12:49:...|924, 8th Street West|
|123454339|     Homer|      Henry| Mckinney|4210653311015303|   611|      East Avenue|      El Paso|        TX|United States|   79930|   1238165|HMckinney@example...|2018-04-21T12:49:...|    611, East Avenue|
|123454537|      Rita|     Rickey|     Kidd|4210653311215039|   680|         Route 44|       Fenton|        MI|United States|   48430|   1234730|   RKidd@example.com|2018-04-21T12:49:...|       680, Route 44|
|123452373|    Amalia|  Heriberto|  Ballard|4210653311229354|    71|    Warren Street|   Grandville|        MI|United States|   49418|   1242113|ABallard@example.com|2018-04-21T12:49:...|   71, Warren Street|
|123455343|     Patty|   Angelita|   Thomas|4210653311652836|   195|     Jones Street|    Yuba City|        CA|United States|   95993|   1239888| PThomas@example.com|2018-04-21T12:49:...|   195, Jones Street|
|123451533|  Josefina|   Dorothea|   Morrow|4210653311707126|   500|       New Street|   Cape Coral|        FL|United States|   33904|   1240158| JMorrow@example.com|2018-04-21T12:49:...|     500, New Street|
|123459278|    Nelson|  Jefferson|  Andrews|4210653311730764|   989|  Division Street|   Brookfield|        WI|United States|   53045|   1241408|NAndrews@example.com|2018-04-21T12:49:...|989, Division Street|
|123456915|    Miquel|     Maximo|Schneider|4210653311898082|   810|     Maple Street|     Richmond|        VA|United States|   23223|   1238390|MSchneider@exampl...|2018-04-21T12:49:...|   810, Maple Street|
|123453807|    Parker|    Arnulfo|  Tidwell|4210653312021765|   649|       Eagle Road| West Chester|        PA|United States|   19380|   1235067|PTidwell@example.com|2018-04-21T12:49:...|     649, Eagle Road|
+---------+----------+-----------+---------+----------------+------+-----------------+-------------+----------+-------------+--------+----------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [33]:
df_customer = df_customer.select('SSN', 'FIRST_NAME', 'MIDDLE_NAME', 'LAST_NAME',  \
            'CREDIT_CARD_NO', 'FULL_STREET_ADDRESS', 'CUST_CITY', 'CUST_STATE',  \
            'CUST_COUNTRY', 'CUST_ZIP', 'CUST_PHONE', 'CUST_EMAIL', 'LAST_UPDATED')

df_customer.show()

+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+----------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|    CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+----------+--------------------+--------------------+
|123456100|      Alec|         Wm|   Hooper|4210653310061055|656, Main Street ...|      Natchez|        MS|United States|   39120|   1237818| AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    Brendan|   Holman|4210653310102868|  829, Redwood Drive| Wethersfield|        CT|United States|   06109|   1238933| EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   Ezequiel|   Dunham|4210653310116272|683, 12th Street ...|      Huntley|        IL|United States|   60142|   1243018| WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      Trina|    Hardy|4210653310195948|253, Country Club...|   New Berlin|        WI|United States|   53151|   1243215|  EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        May|    Ayers|4210653310356919| 301, Madison Street|      El Paso|        TX|United States|   79930|   1242074|  WAyers@example.com|2018-04-21T12:49:...|
|123454202|      Beau|    Ambrose|  Woodard|4210653310395982|   3, Colonial Drive|North Olmsted|        OH|United States|   44070|   1242570|BWoodard@example.com|2018-04-21T12:49:...|
|123451799|    Sheila|      Larry|     Kemp|4210653310400536|  84, Belmont Avenue|       Vienna|        VA|United States|   22180|   1239685|   SKemp@example.com|2018-04-21T12:49:...|
|123453875|     Wendy|        Ora|   Hurley|4210653310459911|   728, Oxford Court|       Duarte|        CA|United States|   91010|   1238213| WHurley@example.com|2018-04-21T12:49:...|
|123457511|      Alec|     Tracie|  Gilmore|4210653310773972|   81, Forest Street|       Owosso|        MI|United States|   48867|   1240689|AGilmore@example.com|2018-04-21T12:49:...|
|123457464|    Barbra|    Mitchel|      Lau|4210653310794854|   561, Court Street|         Zion|        IL|United States|   60099|   1235222|    BLau@example.com|2018-04-21T12:49:...|
|123457639|   Edmundo|      Denny|  Thomson|4210653310817373|  622, Cypress Court|   Youngstown|        OH|United States|   44512|   1241363|EThomson@example.com|2018-04-21T12:49:...|
|123453242|      Elsa|   Isabelle|   Truong|4210653310844617|924, 8th Street West|  Summerville|        SC|United States|   29483|   1236228| ETruong@example.com|2018-04-21T12:49:...|
|123454339|     Homer|      Henry| Mckinney|4210653311015303|    611, East Avenue|      El Paso|        TX|United States|   79930|   1238165|HMckinney@example...|2018-04-21T12:49:...|
|123454537|      Rita|     Rickey|     Kidd|4210653311215039|       680, Route 44|       Fenton|        MI|United States|   48430|   1234730|   RKidd@example.com|2018-04-21T12:49:...|
|123452373|    Amalia|  Heriberto|  Ballard|4210653311229354|   71, Warren Street|   Grandville|        MI|United States|   49418|   1242113|ABallard@example.com|2018-04-21T12:49:...|
|123455343|     Patty|   Angelita|   Thomas|4210653311652836|   195, Jones Street|    Yuba City|        CA|United States|   95993|   1239888| PThomas@example.com|2018-04-21T12:49:...|
|123451533|  Josefina|   Dorothea|   Morrow|4210653311707126|     500, New Street|   Cape Coral|        FL|United States|   33904|   1240158| JMorrow@example.com|2018-04-21T12:49:...|
|123459278|    Nelson|  Jefferson|  Andrews|4210653311730764|989, Division Street|   Brookfield|        WI|United States|   53045|   1241408|NAndrews@example.com|2018-04-21T12:49:...|
|123456915|    Miquel|     Maximo|Schneider|4210653311898082|   810, Maple Street|     Richmond|        VA|United States|   23223|   1238390|MSchneider@exampl...|2018-04-21T12:49:...|
|123453807|    Parker|    Arnulfo|  Tidwell|4210653312021765|     649, Eagle Road| West Chester|        PA|United States|   19380|   1235067|PTidwell@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+----------+--------------------+--------------------+
only showing top 20 rows

In [34]:
# Define the list of area codes
area_codes = ["212", "213", "214", "215", "216", "217", "218", "219", "220", "221"
              "312", "313", "314", "315", "316", "317", "318", "319", "320", "321"
              "412", "413", "414", "415", "416", "417", "418", "419", "420", "421"
              "512", "513", "514", "515", "516", "517", "518", "519", "520", "521"
              "712", "713", "714", "715", "716", "717", "718", "719", "720", "721"]  

# Define the UDF
def random_area_code(phone):
    phone = str(phone)
    if len(phone) == 7:
        return random.choice(area_codes) + phone
    elif len(phone) == 10:
        return phone
    else:
        return phone

# Register the UDF with Spark
random_area_code = udf(random_area_code, StringType())

# Apply the UDF to the dataframe
#df_customer = df_customer.withColumn("CUST_PHONE", random_area_code("CUST_PHONE"))
df_customer = df_customer.withColumn("CUST_PHONE", 
                   random_area_code("CUST_PHONE")).filter(length(df_customer['CUST_PHONE']) <= 10)

valid_phone = df_customer.filter(length(df_customer['CUST_PHONE']) == 10)

In [35]:
invalid_count = df_customer.count() - valid_phone.count()
print(invalid_count)

81

In [36]:
invalid_phone_df = df_customer.filter(length(df_customer['CUST_PHONE']) != 10)
invalid_phone_df.show()

+---------+----------+-----------+----------+----------------+--------------------+----------------+----------+-------------+--------+-------------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME| LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|       CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+----------+----------------+--------------------+----------------+----------+-------------+--------+-------------+--------------------+--------------------+
|123452373|    Amalia|  Heriberto|   Ballard|4210653311229354|   71, Warren Street|      Grandville|        MI|United States|   49418|5217121242113|ABallard@example.com|2018-04-21T12:49:...|
|123455343|     Patty|   Angelita|    Thomas|4210653311652836|   195, Jones Street|       Yuba City|        CA|United States|   95993|   5141239888| PThomas@example.com|2018-04-21T12:49:...|
|123454933|   Marcelo|    Gonzalo|   Emerson|4210653313038847|404, Marshall Street|      Grandville|        MI|United States|   49418|   5151243173|MEmerson@example.com|2018-04-21T12:49:...|
|123452214|   Miranda|     Corina|   Chapman|4210653313138450|340, Jefferson St...|          Chaska|        MN|United States|   55318|   5141236237|MChapman@example.com|2018-04-21T12:49:...|
|123459909|    Jasmin|    Rosario|     Moody|4210653313825914|   472, Grant Street|New Philadelphia|        OH|United States|   44663|4215121235080|  JMoody@example.com|2018-04-21T12:49:...|
|123456436|      Alex|       Jame| Dougherty|4210653314629341|501, Crescent Street|      Reidsville|        NC|United States|   27320|   2171238759|ADougherty@exampl...|2018-04-21T12:49:...|
|123455734|   Felicia|        May|  Mckinley|4210653315669217|698, Washington S...|       Pittsford|        NY|United States|   14534|   3141241925|FMckinley@example...|2018-04-21T12:49:...|
|123456407|       Tom|   Kathrine|       Liu|4210653317631607|138, Briarwood Court|      Youngstown|        OH|United States|   44512|   4181242793|    TLiu@example.com|2018-04-21T12:49:...|
|123456747|     Angie|      Sonia|  Lockhart|4210653319388256|719, Brandywine D...|        Richmond|        VA|United States|   23223|   7161236726|ALockhart@example...|2018-04-21T12:49:...|
|123454956|  Gretchen|    Natalia|    Nguyen|4210653319415654|695, Cleveland Av...|       Brentwood|        NY|United States|   11717|3214121235530| GNguyen@example.com|2018-04-21T12:49:...|
|123456281|    Hallie|   Ashleigh|  Caldwell|4210653319939313|  993, Howard Street|      Youngstown|        OH|United States|   44512|   5161239348|HCaldwell@example...|2018-04-21T12:49:...|
|123453332|   Spencer|   Isabella|   Sprague|4210653321036329|761, Cleveland Av...|       Davenport|        IA|United States|   52804|   4191240036|SSprague@example.com|2018-04-21T12:49:...|
|123454553|   Charley|    Marissa|     Ahmed|4210653321479572|  117, Madison Court|   Mechanicsburg|        PA|United States|   17050|   7161240311|  CAhmed@example.com|2018-04-21T12:49:...|
|123459805|       Jon|      Lorie|     Bower|4210653322099721| 92, Brookside Drive|    Independence|        KY|United States|   41051|   4131241785|  JBower@example.com|2018-04-21T12:49:...|
|123451830|     Sandy|    Wendell|    Fisher|4210653322920523|    332, Race Street|         Houston|        TX|United States|   77016|   7191236273| SFisher@example.com|2018-04-21T12:49:...|
|123453520|    Beulah|    Winford|      Howe|4210653323141413|     471, 6th Avenue|       Frederick|        MD|United States|   21701|   5181235177|   BHowe@example.com|2018-04-21T12:49:...|
|123454531|    Serena|     Elinor|       Kim|4210653324242739|    7, Meadow Street|       Frankfort|        KY|United States|   40601|   4161237994|    SKim@example.com|2018-04-21T12:49:...|
|123455792|    Miquel|     Lorrie|Harrington|4210653324302551|   139, North Street|      Midlothian|        VA|United States|   23112|2213121243349|MHarrington@examp...|2018-04-21T12:49:...|
|123455219|   Sheldon|     Sammie|   Terrell|4210653325414547|      802, Ivy Court|        Victoria|        TX|United States|   77904|   2141243026|STerrell@example.com|2018-04-21T12:49:...|
|123454668|     Santo|        Mai|      Hoyt|4210653327130934|  246, Fulton Street|    Wethersfield|        CT|United States|   06109|   5181239238|   SHoyt@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+----------+----------------+--------------------+----------------+----------+-------------+--------+-------------+--------------------+--------------------+
only showing top 20 rows

In [37]:
# convert phone numbers to this (000)000-0000 format 
df_customer = df_customer.withColumn('CUST_PHONE',
            F.format_string("(%s)%s-%s", 
                            F.substring(df_customer['CUST_PHONE'], 1, 3), 
                            F.substring(df_customer['CUST_PHONE'], 4, 3), 
                            F.substring(df_customer['CUST_PHONE'], 7, 4)))

In [38]:
# verify if phone was converted to required format
df_customer.select('CUST_PHONE').show()

+-------------+
|   CUST_PHONE|
+-------------+
|(721)123-7818|
|(212)123-8933|
|(212)124-3018|
|(215)124-3215|
|(420)124-2074|
|(414)124-2570|
|(218)123-9685|
|(221)312-1238|
|(220)124-0689|
|(320)123-5222|
|(513)124-1363|
|(316)123-6228|
|(416)123-8165|
|(321)412-1234|
|(519)124-2113|
|(514)123-9888|
|(520)124-0158|
|(513)124-1408|
|(519)123-8390|
|(213)123-5067|
+-------------+
only showing top 20 rows

In [39]:
df_customer.groupBy('CUST_PHONE').count().orderBy(F.col('count').desc()).show()

+-------------+-----+
|   CUST_PHONE|count|
+-------------+-----+
|(421)512-1237|    7|
|(321)412-1235|    6|
|(521)712-1238|    6|
|(521)712-1242|    5|
|(321)412-1236|    4|
|(221)312-1237|    4|
|(321)412-1239|    4|
|(421)512-1240|    4|
|(421)512-1243|    3|
|(221)312-1236|    3|
|(521)712-1239|    3|
|(521)712-1241|    3|
|(221)312-1238|    3|
|(521)712-1240|    3|
|(321)412-1241|    3|
|(221)312-1235|    2|
|(521)712-1237|    2|
|(221)312-1240|    2|
|(321)412-1240|    2|
|(321)412-1242|    2|
+-------------+-----+
only showing top 20 rows

In [40]:
# Group by CUST_PHONE and count the occurrences
phone_duplicates = df_customer.groupBy("CUST_PHONE").agg(F.count("CUST_PHONE").alias("count"))
phone_duplicates.show()

#Filter for phone numbers that appear more than once
#phone_duplicates = df_customer.filter(df_customer["count"] >= 1)

#phone_duplicates.show()

+-------------+-----+
|   CUST_PHONE|count|
+-------------+-----+
|(413)124-2311|    1|
|(513)123-7245|    1|
|(215)124-0724|    1|
|(317)123-9668|    1|
|(216)124-1962|    1|
|(715)123-7172|    1|
|(413)123-9063|    1|
|(321)412-1236|    2|
|(213)123-8430|    1|
|(214)124-1308|    1|
|(713)123-5511|    1|
|(718)124-1268|    1|
|(421)512-1235|    4|
|(321)412-1240|    1|
|(214)124-2942|    1|
|(518)124-2269|    1|
|(216)124-3343|    1|
|(517)124-2509|    1|
|(516)123-5913|    1|
|(420)123-7727|    1|
+-------------+-----+
only showing top 20 rows

In [41]:
# convert middle names to lower case.
df_customer = df_customer.withColumn('MIDDLE_NAME', lower(df_customer['MIDDLE_NAME']))
df_customer.select('MIDDLE_NAME').show()

+-----------+
|MIDDLE_NAME|
+-----------+
|         wm|
|    brendan|
|   ezequiel|
|      trina|
|        may|
|    ambrose|
|      larry|
|        ora|
|     tracie|
|    mitchel|
|      denny|
|   isabelle|
|      henry|
|     rickey|
|  heriberto|
|   angelita|
|   dorothea|
|  jefferson|
|     maximo|
|    arnulfo|
+-----------+
only showing top 20 rows

In [42]:
# convert first letter of first and last names to capital letters
df_customer = df_customer.withColumn('FIRST_NAME', initcap(df_customer['FIRST_NAME']))
df_customer = df_customer.withColumn('LAST_NAME', initcap(df_customer['LAST_NAME']))

In [50]:
df_customer.show()
df_customer.printSchema()

+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+-------------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|    CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+-------------+--------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|656, Main Street ...|      Natchez|        MS|United States|   39120|(418)123-7818| AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  829, Redwood Drive| Wethersfield|        CT|United States|   06109|(318)123-8933| EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|683, 12th Street ...|      Huntley|        IL|United States|   60142|(321)412-1243| WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|253, Country Club...|   New Berlin|        WI|United States|   53151|(421)512-1243|  EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| 301, Madison Street|      El Paso|        TX|United States|   79930|(221)312-1242|  WAyers@example.com|2018-04-21T12:49:...|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|   3, Colonial Drive|North Olmsted|        OH|United States|   44070|(520)124-2570|BWoodard@example.com|2018-04-21T12:49:...|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|  84, Belmont Avenue|       Vienna|        VA|United States|   22180|(717)123-9685|   SKemp@example.com|2018-04-21T12:49:...|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|   728, Oxford Court|       Duarte|        CA|United States|   91010|(220)123-8213| WHurley@example.com|2018-04-21T12:49:...|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|   81, Forest Street|       Owosso|        MI|United States|   48867|(215)124-0689|AGilmore@example.com|2018-04-21T12:49:...|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|   561, Court Street|         Zion|        IL|United States|   60099|(714)123-5222|    BLau@example.com|2018-04-21T12:49:...|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|  622, Cypress Court|   Youngstown|        OH|United States|   44512|(416)124-1363|EThomson@example.com|2018-04-21T12:49:...|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617|924, 8th Street West|  Summerville|        SC|United States|   29483|(520)123-6228| ETruong@example.com|2018-04-21T12:49:...|
|123454339|     Homer|      henry| Mckinney|4210653311015303|    611, East Avenue|      El Paso|        TX|United States|   79930|(315)123-8165|HMckinney@example...|2018-04-21T12:49:...|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|       680, Route 44|       Fenton|        MI|United States|   48430|(513)123-4730|   RKidd@example.com|2018-04-21T12:49:...|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|   71, Warren Street|   Grandville|        MI|United States|   49418|(218)124-2113|ABallard@example.com|2018-04-21T12:49:...|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|   195, Jones Street|    Yuba City|        CA|United States|   95993|(416)123-9888| PThomas@example.com|2018-04-21T12:49:...|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|     500, New Street|   Cape Coral|        FL|United States|   33904|(717)124-0158| JMorrow@example.com|2018-04-21T12:49:...|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764|989, Division Street|   Brookfield|        WI|United States|   53045|(717)124-1408|NAndrews@example.com|2018-04-21T12:49:...|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|   810, Maple Street|     Richmond|        VA|United States|   23223|(518)123-8390|MSchneider@exampl...|2018-04-21T12:49:...|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|     649, Eagle Road| West Chester|        PA|United States|   19380|(518)123-5067|PTidwell@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+-------------+----------+-------------+--------+-------------+--------------------+--------------------+
only showing top 20 rows

root
 |-- SSN: long (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- CUST_PHONE: string (nullable = false)
 |-- CUST_EMAIL: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

In [51]:
df_customer.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
  .option("dbtable", "creditcard_capstone.cdw_sapp_customer") \
  .option("user", mysql_username) \
  .option("password", mysql_password) \
  .save()

Py4JJavaError: An error occurred while calling o443.save.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 98.0 failed 1 times, most recent failure: Lost task 0.0 in stage 98.0 (TID 66) (LAPTOP-IQMPCJRO executor driver): java.sql.BatchUpdateException: Data truncation: Data too long for column 'CUST_COUNTRY' at row 1
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:53)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:500)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:484)
	at com.mysql.cj.util.Util.handleNewInstance(Util.java:192)
	at com.mysql.cj.util.Util.getInstance(Util.java:167)
	at com.mysql.cj.util.Util.getInstance(Util.java:174)
	at com.mysql.cj.jdbc.exceptions.SQLError.createBatchUpdateException(SQLError.java:224)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeBatchSerially(ClientPreparedStatement.java:853)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeBatchInternal(ClientPreparedStatement.java:435)
	at com.mysql.cj.jdbc.StatementImpl.executeBatch(StatementImpl.java:794)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:740)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:891)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1009)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1009)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2303)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1623)
Caused by: com.mysql.cj.jdbc.exceptions.MysqlDataTruncation: Data truncation: Data too long for column 'CUST_COUNTRY' at row 1
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:104)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeInternal(ClientPreparedStatement.java:953)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeUpdateInternal(ClientPreparedStatement.java:1092)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeBatchSerially(ClientPreparedStatement.java:832)
	... 17 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2785)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2721)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2720)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2720)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1206)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2984)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2923)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2912)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:971)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2284)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2328)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1009)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:405)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1007)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:890)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:70)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:47)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:104)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:488)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:133)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:856)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:387)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:360)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)
Caused by: java.sql.BatchUpdateException: Data truncation: Data too long for column 'CUST_COUNTRY' at row 1
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:53)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:500)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:484)
	at com.mysql.cj.util.Util.handleNewInstance(Util.java:192)
	at com.mysql.cj.util.Util.getInstance(Util.java:167)
	at com.mysql.cj.util.Util.getInstance(Util.java:174)
	at com.mysql.cj.jdbc.exceptions.SQLError.createBatchUpdateException(SQLError.java:224)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeBatchSerially(ClientPreparedStatement.java:853)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeBatchInternal(ClientPreparedStatement.java:435)
	at com.mysql.cj.jdbc.StatementImpl.executeBatch(StatementImpl.java:794)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:740)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:891)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1009)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1009)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2303)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	... 1 more
Caused by: com.mysql.cj.jdbc.exceptions.MysqlDataTruncation: Data truncation: Data too long for column 'CUST_COUNTRY' at row 1
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:104)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeInternal(ClientPreparedStatement.java:953)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeUpdateInternal(ClientPreparedStatement.java:1092)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeBatchSerially(ClientPreparedStatement.java:832)
	... 17 more